[submodule "libs/hb-appstore"]
	path = libs/hb-appstore
	url = https://github.com/vgmoose/hb-appstore.git
[submodule "libs/chesto"]
	path = libs/chesto
	url = https://gitlab.com/4TU/chesto.git
[submodule "libs/robin-map"]
	path = libs/robin-map
	url = https://github.com/Tessil/robin-map.git
