[submodule "libs/hb-appstore"]
	path = libs/hb-appstore
	url = https://github.com/vgmoose/hb-appstore.git
[submodule "libs/chesto"]
	path = libs/chesto
	url = https://github.com/fortheusers/chesto.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
